<link rel="stylesheet" href="assets\styles\navbar.css">
<nav class="navbar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="Helping Hand Logo">
        <span>Helping Hand</span>
    </div>
        
    <div class="links">
        <a href="index.html">Home</a>
        <a href="#">Browse Fundraiser</a>
        <a href="fundraiser.html">Start a Fundraiser</a>
    </div>
        
    <button class="toggle-btn">☰</button>
        
    <div class="toggle-menu">
        <a href="index.html">Home</a>
        <a href="#">Browse Fundraiser</a>
        <a href="fundraiser.html">Start a Fundraiser</a>
    </div>
</nav>